<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="ManagerRemaindFiles" value="hnMMtiB6yZaQ9Bzk86ZPAA==" />
    <add key="ExportPhotosRemaindFiles" value="hnMMtiB6yZaQ9Bzk86ZPAA==" />
    <add key="TransportToiTunesRemaindFiles" value="hnMMtiB6yZaQ9Bzk86ZPAA==" />
    <add key="TransprotToiDeviceRemaindFiles" value="hnMMtiB6yZaQ9Bzk86ZPAA==" />
    <add key="UseBackupModuleTimes" value="6ZcnQ+R+wvVwNhasW43jjw==" />
	<add key="WebsitesLinkType" value="RWM/KJHDF5r+ttkZSogYdw==" />
    <add key="AlbumDeleteTip" value="6ZcnQ+R+wvVwNhasW43jjw==" />
  </appSettings>
</configuration>